/* Стили для App */
.App {
  display: flex; /* Используем Flexbox */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  height: auto; /* Высота равна высоте окна браузера */
  min-height: 100vh;
  width: 100vw; /* Ширина равна ширине окна браузера */
  background-color: #000000; /* Фон приложения (можно заменить на градиент или другое значение) */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
}

